@import "@/styles/common/globals.scss";

.section_start {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 48px;
  width: calc(100vw - 96px);
  height: calc(100vh - 96px);
  background: rgb(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @include containerInit;
  .wrapper {
    display: flex;
    justify-content: center;
    @container section (width >= #{$breakPoint_mobile}) {
      @include styleGrid();
    }
  }
  .container {
    @container section (width >= #{$breakPoint_mobile}) {
      width: calcGrid(10);
    }
    margin-top: 144px;
    padding: 48px;
    .container_title {
      text-align: center;
      h1 {
        @include styleH("h1");
      }
      p {
        margin-top: 24px;
        @include styleP("big");
      }
      ul {
        margin-top: 8px;
        list-style: none;
        li {
          margin-top: 4px;
          @include styleP("big");
          &:before {
            content: "•";
            margin-right: 8px;
          }
        }
      }
    }
    .container_btn {
      margin-top: 48px;
      display: flex;
      justify-content: center;
      .btn {
        @include styleButton("round", "2");
      }
    }
  }
}

.section_number {
  position: absolute;
  z-index: 100;
  left: 0;
  margin: 48px;
  width: calc(100vw - 96px);
  height: calc(100vh - 96px);
  background: rgb(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @include containerInit;
  .wrapper {
    display: flex;
    justify-content: center;
    @container section (width >= #{$breakPoint_mobile}) {
      @include styleGrid();
    }
  }
  .container {
    @container section (width >= #{$breakPoint_mobile}) {
      width: calcGrid(10);
    }
    margin-top: 144px;
    padding: 48px;
    .container_title {
      text-align: center;
      h1 {
        @include styleH("h1");
      }
      p {
        margin-top: 24px;
        @include styleP("big");
      }
      ul {
        margin-top: 8px;
        list-style: none;
        li {
          margin-top: 4px;
          @include styleP("big");
          &:before {
            content: "•";
            margin-right: 8px;
          }
        }
      }
    }
    .form {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      gap: 16px;
      .container_input{
        width: calc(25% - 4px);
        .label {
          @include styleP("medium");
          margin-bottom: 8px;
        }
        .input {
          width: 100%;
          outline: none;
          @include styleP("medium", $colorPrimary_1);
          padding: 8px 16px;
          border: none;
          border-radius: 12px;
          background: $colorPrimary_2;
          &::placeholder {
            color: rgba($colorPrimary_1, 0.3);
          }
        }
      }
    }
    .container_btn {
      margin-top: 48px;
      display: flex;
      justify-content: center;
      .btn {
        @include styleButton("big", "1");
      }
    }
  }
}

.section_player {
  position: absolute;
  z-index: 100;
  left: 0;
  margin: 48px;
  width: calc(100vw - 96px);
  height: calc(100vh - 96px);
  background: rgb(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @include containerInit;
  .wrapper {
    display: flex;
    justify-content: center;
    @container section (width >= #{$breakPoint_mobile}) {
      @include styleGrid();
    }
  }
  .container {
    @container section (width >= #{$breakPoint_mobile}) {
      width: calcGrid(10);
    }
    margin-top: 40px;
    padding: 48px;
    .container_title {
      text-align: center;
      h1 {
        @include styleH("h1");
      }
      p {
        margin-top: 24px;
        @include styleP("big");
      }
      ul {
        margin-top: 8px;
        list-style: none;
        li {
          margin-top: 4px;
          @include styleP("big");
          &:before {
            content: "•";
            margin-right: 8px;
          }
        }
      }
    }
    .form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 40px;
      gap: 16px;
      .container_input{
        width: calc(25% - 12px);
        .label {
          @include styleP("medium");
          margin-bottom: 8px;
        }
        .input {
          width: 100%;
          outline: none;
          @include styleP("medium", $colorPrimary_1);
          padding: 8px 16px;
          border: none;
          border-radius: 12px;
          background: $colorPrimary_2;
          &::placeholder {
            color: rgba($colorPrimary_1, 0.3);
          }
        }
      }
    }
    .container_btn {
      margin-top: 48px;
      display: flex;
      justify-content: center;
      .btn {
        @include styleButton("big", "1");
      }
    }
  }
}

.section_pool {
  position: absolute;
  z-index: 100;
  left: 0;
  margin: 48px;
  width: calc(100vw - 96px);
  height: calc(100vh - 96px);
  background: rgb(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @include containerInit;
  .wrapper {
    display: flex;
    justify-content: center;
    @container section (width >= #{$breakPoint_mobile}) {
      @include styleGrid();
    }
  }
  .container {
    @container section (width >= #{$breakPoint_mobile}) {
      width: calcGrid(10);
    }
    margin-top: 56px;
    padding: 48px;
    .container_title {
      text-align: center;
      h1 {
        @include styleH("h1");
      }
      p {
        margin-top: 24px;
        @include styleP("big");
      }
      ul {
        margin-top: 8px;
        list-style: none;
        li {
          margin-top: 4px;
          @include styleP("big");
          &:before {
            content: "•";
            margin-right: 8px;
          }
        }
      }
    }
    .container_pool{
      margin-top: 48px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 16px;
      .pool{
        width: calc(50% - 12px);
        padding: 16px;
        border-radius: 4px;
        border: 1px solid $colorGreyscale_4;
        .title{
          @include styleH("h6", $colorPrimary_2);
          margin-bottom: 8px;
        }
        .list{
          list-style: none;
          li{
            @include styleP("medium");
            text-transform: capitalize;
            margin-bottom: 4px;
            &:before {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient_bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, rgb(108, 0, 162), rgb(0, 17, 82));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients_container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(18, 113, 255, 0.8) 0, rgba(18, 113, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(221, 74, 255, 0.8) 0, rgba(221, 74, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(100, 220, 255, 0.8) 0, rgba(100, 220, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2 + 200px);
    left: calc(50% - 80% / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(200, 50, 50, 0.8) 0, rgba(200, 50, 50, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(180, 180, 50, 0.8) 0, rgba(180, 180, 50, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: calc(80% * 2);
    height: calc(80% * 2);
    top: calc(50% - 80%);
    left: calc(50% - 80%);

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(255, 77, 0, 0.8) 0, rgba(140, 100, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
    transition: 0.25s ease-out;
  }
}